body {
  background-color: #c0c0c0;
  color: #808080;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00bfa5;
  text-decoration: none;
}

.main-box .side-nav ol {
  font-size: 15px;
  margin-bottom: 50px;
  /* margin-left: 15px; */
}

.main-box .side-nav li {
  margin: 15px;
}

.logo h4 {
  font-weight: 500;
  margin-left: 10px;
}

.logo img {
  height: 30px;
  width: 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.top-header {
  background-color: #00bfa5;
  height: 250px;
  display: flex;
}

.side-nav h2 {
  font-weight: 300;
  margin: 50px 0px;
}

.top-header .logo {
  color: white;
  font-weight: 500;
  margin: auto;
  margin-left: 75px;
  position: absolute;
  top: 15px;
}

.main-box {
  position: absolute;
  box-shadow: 5px 5px 5px 5px #888888;
  background-color: #ffffff;
  top: 100px;
  left: 175px;
  right: 175px;
  /* bottom: 100px; */
  margin: auto;
  /* width: 80%; */
  border: 1px solid #c0c0c0;
  box-shadow: 10px;
  display: flex;
}

.side-nav {
  /* flex-grow: 2; */
  /* border-right: 1px solid #c0c0c0; */
}

.side-nav .header {
  /* background-color: whitesmoke; */
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
  /* display: flex;
    flex-direction: column; */
}

.main-box .side-nav {
  padding-left: 50px;
}

.side-nav .header .icon {
  align-self: center;
  justify-content: end;
  margin-right: 10px;
}

/* .side-nav .header .icon svg {
    padding-left: 5px;
    padding-right: 5px;
  } */

.side-nav .header .icon svg:first-child {
  /* padding-left: 15px; */
  padding-right: 15px;
}

.side-nav .header .icon svg:nth-child(2) {
  padding-left: 15px;
  padding-right: 15px;
}

.side-nav .header .icon svg:last-child {
  padding-left: 15px;
  padding-right: 15px;
}

.chat-box .header {
  /* background-color: whitesmoke; */
  height: 60px;
  align-items: center;
  /* align-items: flex-start; */
  /* display: flex; */
  /* position: absolute; */
  /* display: flex;
    flex-direction: column; */
}

.profile-pic {
}

.profile-pic img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  align-self: center;
  margin-left: 5px;
  margin-left: 15px;
}

.chat-box .header .name-heading {
  text-align: left;
}

.chat-box {
  /* flex-grow: 1;

  flex-shrink: 3;
  text-align: center; */
}

.chat-box .qr-code {
  margin: 20px 0;
}

.chat-box .qr-code img {
  height: 300px;
  width: 300px;
  margin: auto;
}

.chat-box .signed-checkbox {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .main-box {
    display: block;
    top: 100px;
    left: 0;
    right: 0;
  }
}

@media only screen and (max-width: 968px) {
  .main-box {
    display: block;
    top: 100px;
    left: 0;
    right: 0;
  }
}

/* Main chat box css */

.container {
  display: grid;
  grid-template-columns: minmax(300px, 1.3fr) minmax(300px, 2.7fr);
  overflow-x: scroll;
  /* grid-template-rows: auto 1fr auto; */

  /* grid-template-rows: 50px 50px; */
}

.contacts-box .header {
  height: 60px;
  background-color: #ededed;
  display: grid;
  align-items: center;
  grid-template-columns: 2.5fr 1fr;
}

.contacts-box .header .action-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.contacts-box .search-box {
  height: 40px;
  width: auto;
  display: grid;
  background-color: #f6f6f6;
}

.contacts-box .search-box input[type="text"] {
  width: 90%;
  margin: auto;
  height: 27px;
  border-radius: 15px;
  border: none;
  outline: none;
  padding-left: 20px;
  /* background: url("./assets/img/search.svg") no-repeat; */
  background-size: 15px;
  background-position: left;
}

.contacts-box .contact-list .contact-card {
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  background-color: #fff;
  color: black;
  border-bottom: 1px solid lightgrey;
}

.contacts-box .contact-list .contact-card .time-box {
  text-align: center;
  font-size: 10px;
}

.contacts-box .contact-list {
  height: calc(100vh - 110px);
  overflow-y: scroll;
}

.chat-box .header {
  height: 60px;
  background-color: #ededed;
  display: grid;
  grid-template-columns: 0.4fr 3fr 0.3fr;
  color: black;
}

.contact-card p {
  font-size: 11px;
  margin: 3px 0 0 0;
}

.name-heading p {
  margin: 3px 0 0 0;
  font-size: 11px;
}

.chat-box .header .action-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container div {
  /* border: 1px solid black; */
}

.container > div:nth-child(odd) {
  /* background-color: #00bfa5; */
}

.chat-box .chat-window {
  height: 81vh;
  /* background-color: red; */
  background-image: url(./assets/img/chat-bg.png);
  display: grid;
  grid-template-columns: 1fr;
  /* grid-auto-rows: min-content; */
}

.chat-box .chat-window .my-chat-text {
  max-width: 100%;
  float: right;
}

.chat-box .chat-window .my-chat-text::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: lightyellow transparent transparent transparent;
}

.chat-box .chat-window .my-chat-text .my-chat-text-inner {
  background-color: #dcf8c6;
  padding: 10px;
  margin: 10px;
  border-radius: 10px 0px 10px 10px;
  max-width: 40%;
  float: right;
}

.chat-box .chat-window .to-chat-text {
  max-width: 100%;
  float: left;
}

.chat-box .chat-window .to-chat-text::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: lightyellow transparent transparent transparent;
}

.chat-box .chat-window .to-chat-text .to-chat-text-inner {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 0px 10px 10px 10px;
  max-width: 40%;
  float: left;
}

.chat-box .chat-window ul {
  list-style-type: none;
  overflow-y: scroll;
}

.chat-box .chat-window li {
  width: 100%;
}

.chat-box .message-box {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 12fr 1fr;
  height: 75px;
  align-items: center;
  background-color: #fff;
}

.chat-box .message-box .message-input {
  height: 40px;
  margin-left: 10px;
  width: auto;
  display: grid;
}

.chat-box .message-box .message-input input[type="text"] {
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #f6f6f6;
  padding-left: 20px;
}

.svg-icon {
  height: 20px;
  color: #888888;
  text-align: center;
}
